//背景色
@k-background:#f2f2f2;

//头部导航背景色
@k-headerBarBackground:#1b0055;
@k-headerBarColor:#fefefe;
//菜单栏背景色 字体颜色
@k-menuBackground:#1b0055;
@k-menuColor:#99a1b1;

//点击触发颜色
@k-activeBackground:#5e33b9;
@k-activeColor:#ffffff;

//hover颜色
@k-hoverBackground:#5e33b9;
@k-primary: #7742ef;
@k-tabclor:#7b5cae;
@k-default:#f3e7fd;
@k-default-color:#7742ef;